<div class="row">
        <div class="col-md-6">
            <span class="badge">10</span> en cours
        </div>
    
        <div class="col-md-6">
            <span class="badge">5</span> terminées
        </div>
    </div>
    
    <!-- Le tableau récapitulatif des stories -->
    <table class="table table-condensed table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Business value</th>
                <th>Action</th>
            </tr>
        </thead>
    
        <tbody>
            <tr>
                <td>1</td>
                <td>Terminer les contrôleurs</td>
                <td>12-12-2018</td>
                <td>12-12-2018</td>
                <td>3</td>
                <td>
                    <i class="icon-switch done"></i>
                    <i class="icon-bin delete"></i>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Ajouter les glyphicons</td>
                <td>12-12-2018</td>
                <td>12-12-2018</td>
                <td>1</td>
                <td>
                    <i class="icon-switch done"></i>
                    <i class="icon-bin delete"></i>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Créer un routeur</td>
                <td>12-12-2018</td>
                <td>12-12-2018</td>
                <td>5</td>
                <td>
                    <i class="icon-switch done"></i>
                    <i class="icon-bin delete"></i>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Passer à TypeScript</td>
                <td>12-12-2018</td>
                <td>12-12-2018</td>
                <td>5</td>
                <td>
                    <i class="icon-switch done"></i>
                    <i class="icon-bin delete"></i>
                </td>
            </tr>           
        </tbody>
    
        <tfoot>
            <tr>
                <td colspan="6">
                    <button type="button" class="btn btn-outline-default">
                        Nouvelle Story
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>